<!-- Validation failure messages -->
<% if @dish.errors.any? %>
<% @dish.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Please review your dish: <%= @dish.name %> </h3>


  <div class="row">
    <div class="col-md-12">

      <form action="/finalize_dish" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


        <div class="form-group">

          <label for="new" class="control-label">
          </label>
          <% if @newing=="" %>
          <p><h4>Looks like we got understood everything</h4></p>
          <input type="hidden" id="new" name="new" placeholder="New Ingredients" class="form-control"><%= @newing %></textarea>
          <% else %>

          <p><h4>Ingredients we do not recognize. These will be added to the database:</h4></p>
          <textarea id="new" name="new" placeholder="New Ingredients" class="form-control" rows="3"><%= @newing %></textarea>
          <% end %>
          
          <label for="existing" class="control-label">
            <p><h4>Ingredients we recognized:</h4></p>
          </label>

          <div class="row">
            <div class="col-md-12 mb-2">
              <% @existingingarray.each do |ing|%>
              <div class="btn btn-success btn-sm extraheight"><%= ing %></div>
              <% end %>
            </div>
          </div>

          <input type="hidden" id="existing" name="existing" placeholder="Existing Ingredients" class="form-control" value="<%= @existinging %>">
          <input type="hidden" id="dishid" name="dishid" placeholder="Dish ID" class="form-control" value="<%= @dish.id %>">
        </div>

        <button class="btn btn-success">
          Finalize Dish
        </button>
      </form>

    </div>
  </div>

</div>
